@using Courses.Models.EntityViewModels
@model CourseViewModel
@{
    ViewBag.Title = "ReadCourse";
}

<link href="~/Content/ReadCoursenSpecStyle.css" rel="stylesheet" />
<style>
    body {
        background-image: url("../../Content/Images/pencils-1280558_1920.jpg");
    }
</style>
<div class="container" style="margin-top: 30px">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-10">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-xs-9 col-md-9 section-box">
                            <h2>
                                @Model.Name 
                            </h2>
                            <hr />
                            <p>SPECIALIZATION : @Model.Specialization.Name</p>
                            <p>START DATE : @Model.StartDate.Day @Model.StartDate.ToString("MMMM")</p>
                            <p>END DATE : @Model.EndDate.Day @Model.EndDate.ToString("MMMM")</p>
                            <p>TEACHER : @ViewBag.Teacher</p>
                            <hr />
                            <p>@Model.Description</p>
                            <hr />
                            <div class="row rating-desc">
                                <div class="col-md-12">
                                    <span class="glyphicon glyphicon-comment"></span>(95 Comments)
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-md-3 text-center">
                            <img src="../../Content/Images/1472586608_Brain-Games-red.png" alt="bootsnipp"
                                 class="img-rounded img-responsive" height="200" width="200"/>
                            <br />
                            @{if (DateTime.Compare(Model.StartDate, DateTime.Now.AddDays(+1)) < 0)
                                {
                                <p>Sorry, you had to subscribe at least one day before start</p>
                                }

                               else
                               {
                                @Html.Partial("_SubscribeButton", Model)
                                }
                            }
                        </div>
                    </div>
                </div>
                <a href="/Home/Index" class="btn btn-primary">Home</a>
                <a href="/Home/Courses" class="btn btn-primary">Go to courses</a>
                <a href="/Home/Specializations" class="btn btn-primary">Go to specializations</a>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/scripts/jquery-1.10.2.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")



